.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

@font-face {
  font-family: Redhat;
  src: url(RedHatDisplay-VariableFont_wght.ttf);
}

  body {
    background-image: url(assets/images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    background-color: hsl(225, 100%, 94%);

    font-family: "RedHat", sans-serif;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .hero {
    width: 375px;
    height: auto;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
  .container {
    margin: 12px 0;
  }
  .cards {
    width: 375px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 28px;
    background-color: white;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    box-shadow: -3px 5px 17px 0px #0000001f;
  }

.heading {
    font-weight: 900;
    color: hsl(223, 47%, 23%);
}


.listen {
  text-align: center;
  margin-top: 16px;
  font-size: 14px;
  line-height: 1.5;
  color: hsl(224, 23%, 55%);
}



.plan {
    display: flex;
     align-items: center;
     justify-content: space-between;
    margin: 16px 0;
    padding: 20px;
    border-radius: 12px;
    width: 100%;
    font-size: 14px;
    gap: 12px;
    background-color: hsl(225, 100%, 98%);
}

.annual-plan {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.annual-plan p:last-child {
  color: hsl(224, 23%, 55%);
}

.plan-b {
  display: flex;
  gap: 14px;
  align-items: center;
}

.plan span {
font-weight: 700;
}

.plan span a:hover {
  text-decoration: none;
  color: hsl(224, 23%, 55%);
}



button {
    width: 100%;
    padding: 10px 12px;
    border: none;
    border-radius: 8px;
    margin: 6px 6px 0;
    font-weight: 700;
    font-family: inherit;
    color: white  ;
}
.cta {
background-color: hsl(245, 75%, 52%);
cursor: pointer;
}

.cta:hover {
  background-color: hsl(224, 23%, 55%);
}

.cta2 {
color: hsl(224, 23%, 55%);
background-color: white;
}

.cta2:hover {
  color: hsl(223, 47%, 23%);
  cursor: pointer;
  font-weight: 900;
}
